{% extends 'base.html.twig' %}

{% block title %}Hello ErrorHandlerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; color: red;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Error {{ error_code }}</h1>

    <h2>{{ error_description }}</h2>

</div>
{% endblock %}
